  
   @media (max-width: 991px) {
    #mobile-nav-toggle {
      display: inline;
    }
  
  @media (max-width: 1199px) {
    .banner-left h1 {
      font-size: 40px;
    }
  }
  
  @media (max-width: 413px) {
    .banner-left h1 {
      font-size: 33px;
    }
  }
  
  @media (max-width: 991px) and (min-width: 768px) {
    .banner-left h1 {
      font-size: 36px;
    }
    .banner-left h6 {
      font-size: 12px;
    }
  }


  @media (max-width: 767px) {
    .banner-area .fullscreen {
      height: auto !important;
    }
  }
  



  